<!-- learningbox.html -->
{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/learning.css') }}">

<!-- Start learning assessment button -->
<div class="learn-toy-button">

    <!-- "Play button" because you can't autoplay anything and I don't know how to make an SPA  ¯\_(ツ)_/¯-->
    <img class="learn-toy-text" src="{{ url_for('static', filename='images/instructions/clickLearning.png') }}" alt="video play text here">
    <img class="learn-toy-button" src="{{ url_for('static', filename='images/instructions/playStart.png') }}" alt="video play button here" id="info">
    
</div>

<audio id="learningStart" preload="auto">
    <!-- Joseph, unedited -->
    <!-- <source src="{{ url_for('static', filename='sounds/instructions/originalRecordings/learningStart.mp3') }}" type="audio/mpeg"> -->

    <!-- Edited -->
    <source src="{{ url_for('static', filename='sounds/instructions/learningStart.mp3') }}" type="audio/mpeg">

</audio>

<!-- Container for the interactive elements -->
<div class="toy-container" data-toy="BoxToy">

    <!-- Container for the image hotspot and interactive elements -->
    <div class="image-hotspot">

        <!-- Base image -->
        <img src="{{ url_for('static', filename='images/learningMeasures/boxToyBase_withLearningMeasures.png') }}" alt="boxToy learning test should be here">

        <div class="icon orangePinwheelIcon" id="orangePinwheel correctForFunction1" data-toy="BoxToy">
        </div>

        <div class="icon middleSwitchIcon" id="boxLightSwitch correctForFunction2" data-toy="BoxToy">
        </div>

        <div class="icon blueCordIcon" id="bluePullCord correctForFunction3" data-toy="BoxToy">
        </div>

        <div class="icon marbleButtonIcon" id="marbleRattleButton correctForFunction4" data-toy="BoxToy">
        </div>

        <div class="icon blank-space-icon" id="nullAnswer blankClick" data-toy="BoxToy"></div>

    </div>

</div>

<div class="gif-container" id="gif1">
    <img src="{{ url_for('static', filename='images/learningMeasures/gifs/box1.gif') }}" alt="gif function 1">
</div>

<div class="gif-container" id="gif2" style="display: none;">
    <img src="{{ url_for('static', filename='images/learningMeasures/gifs/box2.gif') }}" alt="gif function 2">
</div>

<div class="gif-container" id="gif3" style="display: none;">
    <img src="{{ url_for('static', filename='images/learningMeasures/gifs/box3.gif') }}" alt="gif function 3">
</div>

<div class="gif-container" id="gif4" style="display: none;">
    <img src="{{ url_for('static', filename='images/learningMeasures/gifs/box4.gif') }}" alt="gif function 4">
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="{{ url_for('static', filename='learning.js') }}"></script>

{% endblock %}